.container {
  display: flex;
  min-height: calc(100vh - 156px);

  .content {
    flex: 1;
    position: relative;
    padding-bottom: 40px;
  }

  .footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

.content {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  width: 100%;
  background-color: white;
}
